.navbar .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.navbar .nav-link:hover {
  color: orange;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar {
    background-color: #004080;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    height: 150px;
}